@page "/"
@model Silvestre.App.Web.Pages.Home.ProfileModel
@{
    ViewData["Title"] = "Silvestre";
}

<div class="flex flex-row border border-black rounded-lg font-mono">
    <div class="basis-2/3 grow rounded-l-lg profile-card relative gap-8">
        <div class="rounded-l-lg bg-gradient-to-b from-white dark:from-black p-4">
            <h1 class="font-mono font-extrabold text-center text-2xl uppercase">João Silvestre</h1>
            <h2 class="font-mono text-center">Full stack* Developer</h2>
            <h3 class="font-mono text-center text-xs">* focused on back-end development, but able to go full stack</h3>
            <ul class="grid grid-flow-col grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-none gap-2 mt-4">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    <span>Lisbon, Portugal</span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 15.546c-.523 0-1.046.151-1.5.454a2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.704 2.704 0 00-3 0 2.704 2.704 0 01-3 0 2.701 2.701 0 00-1.5-.454M9 6v2m3-2v2m3-2v2M9 3h.01M12 3h.01M15 3h.01M21 21v-7a2 2 0 00-2-2H5a2 2 0 00-2 2v7h18zm-3-9v-2a2 2 0 00-2-2H8a2 2 0 00-2 2v2h12z" />
                    </svg>
                    <span>@(Math.Floor((DateTime.UtcNow - new DateTime(1990, 08, 11)).TotalDays / 365)) years</span>
                </li>
                <li class="flex flex-col">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path d="M12 14l9-5-9-5-9 5 9 5z" />
                            <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
                        </svg>
                        <span>Bachelor's Degree</span>
                    </div>

                    <div class="hover:underline">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                        </svg>
                        <a href="https://www.isel.pt/en/curso/bsc-degree/computer-science-and-computer-engineering" target="_blank">ISEL</a>
                    </div>
                </li>
            </ul>
            <div class="grid grid-rows-2 md:grid-rows-0 grid-cols-0 md:grid-cols-2 mt-2 gap-2">
                <div>
                    <h2 class="text-xl text-bold uppercase font-mono border-b-2 border-black/30">Main Stats</h2>
                    <ul>
                        <li>Technology enthusiast</li>
                        <li>.NET developer</li>
                        <li>Back-end development</li>
                        <li>System Architect</li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-xl text-bold uppercase font-mono border-b-2 border-black/30">Main Interests</h2>
                    <ul>
                        <li>Optimization (Processes, Performance, ...)</li>
                        <li>Blockchain/trustless Technologies</li>
                        <li>System Design</li>
                    </ul>
                </div>
            </div>
            <div class="md:absolute md:bottom-4">
                <ul class="flex gap-2">
                    <li class="w-8 h-8">
                        <a href="https://github.com/paletas" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="stroke-gray-900 fill-gray-900 dark:stroke-gray-300 dark:fill-gray-300">
                                <!--! Font Awesome Pro 6.1.1 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" />
                            </svg>
                        </a>
                    </li>
                    <li class="w-8 h-8">
                        <a class="border-b-2 border-black" href="https://www.linkedin.com/in/joaosilvestre" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="stroke-gray-900 fill-gray-900 dark:stroke-gray-300 dark:fill-gray-300">
                                <!--! Font Awesome Pro 6.1.1 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" />
                            </svg>
                        </a>
                    </li>
                    <li class="w-8 h-8">
                        <a class="border-b-2 border-black" href="https://www.twitter.com/joaosilvestr" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="stroke-gray-900 fill-gray-900 dark:stroke-gray-300 dark:fill-gray-300">
                                <!--! Font Awesome Pro 6.1.1 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                                <path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="basis-1/3">
        <img class="object-cover w-full h-full rounded-r-lg" src="https://www.gravatar.com/avatar/068ae54a95f5da1ef6f850d30895b8cb?s=800" />
    </div>
</div>

<div class="border rounded-lg border-black mt-4 profile-card p-4">
    <h2 class="font-mono font-bold text-xl uppercase text-center">About Me</h2>

    <div>
        Been working professionally as a developer since 2012, but have been a developing since 2003, creating silly websites, making games using RPG Maker and modding Tibia servers.
        Currently working as a lead dev and system architect for SIBS (the leading fintech company in Portugal), on their BPO unit, leading a small team and designing several systems to address new businesses.
    </div>
    <br />
    <div>
        I like to call myself a full-stack developer, as I have no trouble developing in any language and working from UI to data storage (the languages that I don't know, I can easily learn). 
        I've done webapps, apis, phone apps, games, a bit of everything really, but truth be told is that the past few years I've focused on backend development, as that's where my dev-love lies. 
        Backend development has always presented me with the best challenges, taking complex systems and optimizing, upgrading them with new features and technologies, or even creating new complex systems from scratch.        
    </div>
    <br />
    <div>
        One thing I believe makes me stand out from the crowd is knowing the fundamentals on how a digital system works, from transistor to line of code, this has repeatedly helped me learn new technologies due to understanding the underlying fundamentals that power them.
        This is in large due to the education I've gotten at ISEL, a polytechnic institute that not only provided me with a deep theoretical understanding of how a digital system works but also had a very practical component, with lots of projects and experiments.
    </div>
    <br />
    <div>
        The past year I've been draw into blockchain technologies, as technologies that enable trustless interaction between individuals which I believe to be increasingly necessary in current times, and have been learning and developing solutions with it. I've created a few unreleased tools: explorers, bots that automate smart contract execution, etc.
        More recently, I've been working on <i>SilvestretbDAO</i>, not as an actual DAO but as a tool that acts as a black hole for blockchain data, using workers to crawl blockchains (in this case, Cosmos based blockchains) and turning every block and their data into events to be processed.
        Then with a microservices approach, create services focused on understanding/gathering certain types of data, allowing to make that information easily broken down, stored, queried and analysed.
    </div>
</div>

<div class="border rounded-lg border-black mt-4 profile-card p-4">
    <h2 class="font-mono font-bold text-xl uppercase text-center">Skills</h2>
    <div class="grid grid-cols-2 grid-rows-[auto_repeat(2,minmax(0,_1fr))] grid-flow-col gap-4">
        <h3 class="font-mono font-bold text-l uppercase text-center">Backend</h3>

        <div id="languages-backend-chart" class="flex flex-row-reverse gap-2">
            <table class="charts-css bar show-data-on-hover show-heading show-x-axes">
                <caption>Programming Languages</caption>
                @foreach (var skill in this.Model.ProgrammingLanguagesBackend)
                {
                    <tr>
                        <th>@skill.Key</th>
                        <td style="--size: calc(@skill.Value/@this.Model.SkillsMax)"><span class="data">@skill.Value</span></td>
                    </tr>
                }
            </table>

            <ul class="grow-0 basis-1/4 charts-css legend legend-circle border-0">
                @foreach (var skill in this.Model.ProgrammingLanguagesBackend)
                {
                    <li>@skill.Key</li>
                }
            </ul>
        </div>

        <div id="technologies-chart" class="flex flex-row-reverse gap-2">
            <table class="grow basis-3/4 charts-css bar show-data-on-hover show-heading">
                <caption>Technologies</caption>
                @foreach (var skill in this.Model.TechnologiesBackend.OrderByDescending(kv => kv.Value))
                {
                    <tr>
                        <th>@skill.Key</th>
                        <td style="--size: calc(@skill.Value/@this.Model.SkillsMax)"><span class="data">@skill.Value</span></td>
                    </tr>
                }
            </table>

            <ul class="grow-0 basis-1/4 charts-css legend legend-circle border-0">
                @foreach (var skill in this.Model.TechnologiesBackend)
                {
                    <li>@skill.Key</li>
                }
            </ul>
        </div>

        <h3 class="font-mono font-bold text-l uppercase text-center">Frontend</h3>

        <div id="languages-frontend-chart" class="flex flex-row gap-2">
            <table class="grow basis-3/4 charts-css bar show-data-on-hover show-heading reverse">
                <caption>Programming Languages</caption>
                @foreach (var skill in this.Model.ProgrammingLanguagesFrontend.OrderByDescending(kv => kv.Value))
                {
                    <tr>
                        <th>@skill.Key</th>
                        <td style="--size: calc(@skill.Value/@this.Model.SkillsMax)"><span class="data">@skill.Value</span></td>
                    </tr>
                }
            </table>

            <ul class="grow-0 basis-1/4 charts-css legend legend-circle border-0">
                @foreach (var skill in this.Model.ProgrammingLanguagesFrontend)
                {
                    <li>@skill.Key</li>
                }
            </ul>
        </div>

        <div id="languages-frontend-chart" class="flex flex-row gap-2">
            <table class="grow basis-3/4 charts-css bar show-data-on-hover show-heading reverse">
                <caption>Technologies</caption>
                @foreach (var skill in this.Model.TechnologiesFrontend.OrderByDescending(kv => kv.Value))
                {
                    <tr>
                        <th>@skill.Key</th>
                        <td style="--size: calc(@skill.Value/@this.Model.SkillsMax)"><span class="data">@skill.Value</span></td>
                    </tr>
                }
            </table>

            <ul class="grow-0 basis-1/4 charts-css legend legend-circle border-0">
                @foreach (var skill in this.Model.TechnologiesFrontend)
                {
                    <li>@skill.Key</li>
                }
            </ul>
        </div>
    </div>
</div>

<style>
    .charts-css {
        --color-1: rgba(30, 144, 255, 1);
        --color-2: rgba(30, 144, 255, 0.9);
        --color-3: rgba(30, 144, 255, 0.8);
        --color-4: rgba(30, 144, 255, 0.7);
        --color-5: rgba(30, 144, 255, 0.6);
        --color-6: rgba(30, 144, 255, 0.5);
        --color-7: rgba(30, 144, 255, 0.4);
        --color-8: rgba(30, 144, 255, 0.3);
    }

    .legend {
        border: 0px !important;
    }
</style>