<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - João Silvestre's Blog</title>
    <meta name="application-name" content="João Silvestre's Blog" />
    <meta name="author" content="João Silvestre" />
    @if (this.ViewBag.Meta is not null)
    {
        <meta name="description" content="@this.ViewBag.Meta.Description" />
        <meta name="twitter:description" content="@this.ViewBag.Meta.Summary" />
        <meta name="keywords" content="@string.Join(", ", this.ViewBag.Meta.Tags)" />
    }
    <link rel="manifest" href="~/site.webmanifest" />
    <link rel="apple-touch-icon" href="~/favicon-180x180.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Silvestre.App.Blog.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-0 box-shadow mb-3">
            <div class="container-fluid container-lg">
                <a class="navbar-brand p-0" asp-area="" asp-page="/Index">
                    <img style="width: 4rem; height: 4rem;" src="~/favicon-192x192.png" alt="João Silvestre">
                    Blog
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link fw-medium text-body" href="https://itssilvestre.com/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-medium text-body" asp-area="" asp-page="/Index">Blog</a>
                        </li>
                    </ul>

                    <div>
                        <a asp-controller="Feeds" asp-action="GetRssFeed">
                            <i class="fa-solid fa-rss"></i>
                        </a>
                        <a asp-controller="Feeds" asp-action="GetAtomFeed">
                            <i class="fa-solid fa-atom"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid container-lg">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - João Silvestre
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>