@page "/wisc3"
@using Silvestre.Pshychology.Tools.WebApp.Client.Components.WISC3;

@inject Microsoft.Extensions.Localization.IStringLocalizer<WISC3> Localization

<h3 class="d-inline">WISC-III</h3>
<h4 class="d-inline">@Localization["WISC3.Description"]</h4>

<div class="alert alert-warning" role="alert">
    <b>@Localization["Warning"]</b> @Localization["WarningDetails"]
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="testDate">@Localization["TestDate"]</label>
                <input type="date" class="form-control" id="testDate" required @bind="TestDate" @onkeyup="TestOrSubjectDatesUpdated" />
            </div>
            <div class="form-group">
                <label for="subjectBirthday">@Localization["SubjectBirthday"]</label>
                <input type="date" class="form-control" id="subjectBirthday" required @bind="SubjectBirthday" @onkeyup="TestOrSubjectDatesUpdated" />
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <td></td>
                            <td>@Localization["SubjectAge.Display.Year"]</td>
                            <td>@Localization["SubjectAge.Display.Month"]</td>
                            <td>@Localization["SubjectAge.Display.Day"]</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Localization["TestDate"]</td>
                            <td>@(TestDate?.Year ?? '-')</td>
                            <td>@(TestDate?.Month ?? '-')</td>
                            <td>@(TestDate?.Day ?? '-')</td>
                        </tr>
                        <tr>
                            <td>@Localization["SubjectBirthday"]</td>
                            <td>@(SubjectBirthday?.Year ?? '-')</td>
                            <td>@(SubjectBirthday?.Month ?? '-')</td>
                            <td>@(SubjectBirthday?.Day ?? '-')</td>
                        </tr>
                        <tr>
                            <td>@Localization["SubjectAge"]</td>
                            <td>@((TestDate?.Year - SubjectBirthday?.Year) ?? '-')</td>
                            <td>@((TestDate?.Month - SubjectBirthday?.Month) ?? '-')</td>
                            <td>@((TestDate?.Day - SubjectBirthday?.Day) ?? '-')</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @if (IsInitialInputValid)
    {
        <div class="row">

            <div class="collapse" id="LookupTableVisualizer">
                <div class="card card-body">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#LookupTableVisualizer">@Localization["Button.Hide"]</button>
                    <WISC3LookupTableVisualizer Standardizer="WISC3ViewModel.StanderdizationPhase.Standardizer" SubjectAge="WISC3ViewModel.SubjectAge.Value" />
                </div>
            </div>

            <div class="form-group col-6">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <td rowspan="2">@Localization["TestsDescription"]</td>
                            <td rowspan="2">@Localization["TestsRawResults"]</td>
                            <td colspan="5">@Localization["TestsPatternResults"]</td>
                        </tr>
                        <tr>
                            <td data-toggle="tooltip" title="@Localization["TestsPatternResults.Verbal.MouseHover"]">@Localization["TestsPatternResults.Verbal"]</td>
                            <td data-toggle="tooltip" title="@Localization["TestsPatternResults.Realization.MouseHover"]">@Localization["TestsPatternResults.Realization"]</td>
                            <td data-toggle="tooltip" title="@Localization["TestsPatternResults.VerbalComprehension.MouseHover"]">@Localization["TestsPatternResults.VerbalComprehension"]</td>
                            <td data-toggle="tooltip" title="@Localization["TestsPatternResults.PerceptiveOrganization.MouseHover"]">@Localization["TestsPatternResults.PerceptiveOrganization"]</td>
                            <td data-toggle="tooltip" title="@Localization["TestsPatternResults.ProcessingVelocity.MouseHover"]">@Localization["TestsPatternResults.ProcessingVelocity"]</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var test in WISC3ViewModel.StanderdizationPhase.AllTests)
                        {
                            <tr>
                                @if (test.Mandatory)
                                {
                                    <td>@Localization[$"Test.{test.TestName}"]</td>
                                }
                                else
                                {
                                    <td>(@Localization[$"Test.{test.TestName}"])</td>
                                }
                                <td><input type="number" @bind="test.RawResult" /></td>

                                <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardVerbal)">@test.StandardVerbal</td>
                                <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardRealization)">@test.StandardRealization</td>
                                <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardVerbalComprehension)">@test.StandardVerbalComprehension</td>
                                <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardPerceptiveOrganization)">@test.StandardPerceptiveOrganization</td>
                                <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardProcessingVelocity)">@test.StandardProcessingVelocity</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@Localization["Test.SumResults"]</td>
                            <td class="bg-dark"></td>
                            <td>@WISC3ViewModel.StanderdizationPhase.VerbalTotal</td>
                            <td>@WISC3ViewModel.StanderdizationPhase.RealizationTotal</td>
                            <td>@WISC3ViewModel.StanderdizationPhase.VerbalComprehensionTotal</td>
                            <td>@WISC3ViewModel.StanderdizationPhase.PerceptiveOrganizationTotal</td>
                            <td>@WISC3ViewModel.StanderdizationPhase.ProcessingVelocityTotal</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="invisible"></td>
                            <td colspan="2">@(WISC3ViewModel.StanderdizationPhase.VerbalTotal + WISC3ViewModel.StanderdizationPhase.RealizationTotal)</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="form-group col-6">
                <div class="row">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <td></td>
                                <td>@Localization["TestsPatternResults"]</td>
                                <td>@Localization["QI"]</td>
                                <td>@Localization["Percentil"]</td>
                                <td>@Localization["ConfidenceInterval"]</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var calculatedQI in WISC3ViewModel.CalculatorPhase.AllCalculatedQI)
                            {
                                <tr>
                                    <td>@Localization[$"QI.{calculatedQI.Name}"]</td>
                                    <td>@calculatedQI.StandardResult</td>
                                    <td>@calculatedQI.IndexQI</td>
                                    <td>@calculatedQI.Percentil</td>
                                    <td>@calculatedQI.ConfidenceInterval95?.LowerBound - @calculatedQI.ConfidenceInterval95?.UpperBound</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#LookupTableVisualizer">@Localization["Button.ShowLookupTable"]</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                @if (WISC3ViewModel.ShouldShowCharts)
                {
                    <div class="row">
                        <canvas @ref="QIResultsChart" />
                    </div>
                }
            </div>
        </div>
    }
</div>

<div class="container-fluid">
    @if (WISC3ViewModel.ShouldShowCharts)
    {
        <div class="row">
            <div class="col-6">
                <canvas @ref="StandardResultsChart" />
            </div>
            <div class="col-6">
                <canvas @ref="StandardFactorialIndicesChart" />
            </div>
        </div>
    }
</div>