@using Silvestre.App.Blog.Web.Blog;
@using Silvestre.App.Blog.Web.Core.Parsers;

@model BlogPost

<div class="row border-bottom">
    <div class="sticky-top">
        <h1 class="d-inline float-start">@this.Model.Title</h1>

        <div class="d-inline row float-end">
            <small class="col-6">Created At: @this.Model.CreatedAt.ToString("yyyy-MM-dd hh:mm:ss (UTC)")</small>
            @if (this.Model.LastUpdate is not null)
            {
                <small class="col-6">Last Updated: @this.Model.LastUpdate.Value.ToString("yyyy-MM-dd hh:mm:ss (UTC)")</small>
            }
        </div>
    </div>
</div>
<div>
    @Html.Raw(PreparePost(this.Model.HtmlContent))
</div>
<div>
    <ul class="list-group list-group-horizontal">
        @foreach (string tag in this.Model.Tags)
        {
            <li class="list-group-item border-0">
                <a href="/tag/@tag">
                    <span class="badge bg-secondary">@tag</span>
                </a>
            </li>
        }
    </ul>
</div>

@{
    string PreparePost(string rawContent)
    {
        return rawContent.Replace(Markdown.BaseUrlPlaceholder, this.ViewBag.BaseUrl);
    }
}
