@using Silvestre.App.Blog.Web.Blog;
@using Silvestre.App.Blog.Web.Core.Parsers;

@model BlogPost

<div class="container position-relative">
    <div class="row border-bottom">
        <div class="sticky-top">
            <h2>@this.Model.Title</h2>

            <div class="d-inline float-end">
                <small class="d-block">Created At: @this.Model.CreatedAt.ToString("yyyy-MM-dd hh:mm:ss (UTC)")</small>
                @if (this.Model.LastUpdate is not null)
                {
                    <small class="d-block">Last Updated: @this.Model.LastUpdate.Value.ToString("yyyy-MM-dd hh:mm:ss (UTC)")</small>
                }
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <span class="overflow-hidden" style="max-height: 300px">
            @Html.Raw(PreparePost(this.Model.HtmlContent))
        </span>
    </div>
    <div class="row">
        <a href="/@this.Model.Uri" class="stretched-link">Continue reading</a>
    </div>
    <div class="row">
        <ul class="list-group list-group-horizontal flex-wrap z-2">
            @foreach (string tag in this.Model.Tags)
            {
                <li class="list-group-item border-0 bg-transparent">
                    <a href="/tag/@tag">
                        <span class="badge bg-secondary">@tag</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

@{
    string PreparePost(string rawContent)
    {
        return $"{rawContent.Substring(0, 500).Replace(Markdown.BaseUrlPlaceholder, this.ViewBag.BaseUrl)}...";
    }
}